[submodule "SLD.Core"]
	path = SLD.Core
	url = https://github.com/samldavenport/SLD.Core
[submodule "SLD.OpenGL"]
	path = SLD.OpenGL
	url = https://github.com/samldavenport/SLD.OpenGL
[submodule "SLD.Math"]
	path = SLD.Math
	url = https://github.com/samldavenport/SLD.Math
[submodule "SLD.Collections"]
	path = SLD.Collections
	url = https://github.com/samldavenport/SLD.Collections
